<div class="dashboard-container">
  <div class="dashboard-content">
    <h1>Dashboard Washer</h1>
    <p>Gestisci la tua disponibilità e consulta i lavaggi assegnati.</p>

    <hr class="my-4" />

    <h3>📅 Inserisci Disponibilità</h3>
    <form (ngSubmit)="inserisciDisponibilita()" class="form-group">
      <input type="datetime-local" [(ngModel)]="from" name="from" required />
      <input type="datetime-local" [(ngModel)]="to" name="to" required />
      <button type="submit" class="btn primary">➕ Aggiungi</button>
    </form>

    <hr class="my-4" />

    <h3>🧽 Appuntamenti Assegnati</h3>
    <ul class="appointment-list">
      <li *ngFor="let a of appuntamenti">
        {{ a.date }} - Cliente: {{ a.user }}
      </li>
    </ul>

    <hr class="my-4" />

    <h3>👤 Visualizzazione Prenotazioni da Utente</h3>
    <app-user></app-user>
  </div>
</div>
